@charset "utf-8";

/* :root {
    font-size: 16px;
    --en-h-font: raleway, sans-serif;
    --en-p-font: ff-real-headline-pro, sans-serif;
    --kr-font: pretendard, sans-serif;
    --main-bg-color: #5A68A3;
    --sub1-bg-color: #B9BDCE;
    --gray1-bg-color: #AAAAAA;
    --black-color: #151515;
    --white-color: #ffffff;
} */

.wrap {
    position: relative;
    background-image: url(../img/bg.png);
}
.container {
    width: 1720px;
    margin: 0 auto;
}

.main_visual {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


main.main_visual .big_img {
    padding-top: 284px;
    padding-left: 380px;
    position: absolute;
    z-index: 99;
}

.p1 {
    right: -156px;
    top: -79px;
    position: absolute;
    opacity: 50%;
    z-index: 10;
}

.p2 {
    right: -156px;
    top: -79px;
    position: absolute;
    /* opacity: 50%; */
    z-index: 5;
}


main.main_visual h2 {
    color: var(--white, #FFF);
    text-shadow: -0.5px 0px var(--black-color), 0px 0.5px var(--black-color), 0.5px 0px var(--black-color), 0px -0.5px var(--black-color);
    font-family: var(--en-h-font);
    font-size: 200px;
    font-weight: 600;
    line-height: 220px;
    text-align: center;
    margin-top: 161px;
    z-index: 9;
}
main.main_visual p {
    padding-top: 50px;
    color: var(--main-bg-color);
    font-family: var(--en-p-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.6px;
    text-align: center;
    z-index: 100;
}

#main_box_all {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main_box_all .main_box {
    height: 556px;
    position: relative;
    overflow: hidden;
}

#main_box_all .main_box .txt_box {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    /* transform: translateX(100%); */
    opacity: 0;
    transition: 0.6s;
    text-align: center;
    padding: 150px 0px;
    border: 0.7px solid var(--main-bg-color);
}

#main_box_all .main_box .txt_box h3 {
    color: var(--main-bg-color);
    font-family: var(--kr-font);
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    padding-bottom: 20px;
}

#main_box_all .main_box .txt_box p {
    color: var(--main-bg-color);
    font-family: var(--kr-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

#main_box_all .main_box:hover .txt_box {
    opacity: 1;
}

#con2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

#con2 .container {
    display: flex;
    height: 634px;
    justify-content: space-between;
}

#con2 .container ul.left {
    display: flex;
    flex-direction: column;
    width: 840px;
}

#con2 .container ul.left li {
    height: 80px;
    border-bottom: 1px solid var(--main-bg-color);
    transition: .6s;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}

#con2 .container ul.left li:hover {
    display: flex;
    flex: 1;
}

#con2 .container ul.left li h3 {
    color: var(--main-bg-color);
    font-family: var(--en-h-font);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.6px;
    transition: .3s;
}

#con2 .container ul.left li:hover h3 {
    color: var(--black-color);
    font-family: var(--en-h-font);
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    /* 120% */
    letter-spacing: 1px;
}

#con2 .container ul.left li .txt_box {
    display: flex;
    opacity: 0;
    transition: .3s;
}

#con2 .container ul.left li:hover .txt_box {
    opacity: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#con2 .container ul.left li .txt_box .left_txt p {
    color: var(--black-color);
    font-family: var(--kr-font);
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
}

#con2 .container ul.left li .txt_box .left_txt span {
    color: var(--black-color);
    font-family: var(--kr-font);
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
}

#con2 .container ul.left li .txt_box a {
    display: flex;
    width: 160px;
    padding: 5px 0px 7px 0px;
    justify-content: center;
    align-items: center;
    border: 0.7px solid var(--gray1-bg-color);
    color: var(--black-color);
    font-family: "Real Head Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

#con2 .container ul.left li .txt_box a{
    background: var(--white-color);
    transition: .4s;
}

#con2 .container ul.left li .txt_box a:hover {
    background: var(--sub1-bg-color);
}

#con2 .container .img_box {
    width: 694px;
    position: relative;
}

#con2 .container .img_box img {
    position: absolute;
    opacity: 0;
    transition: .6s;
}

#con2 .container .img_box img.on {
    opacity: 1;
}

.maswis{
    display: none;
}
.con2_5 {
    /* display: none; */
}

#con3 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 400px;
}

#con3 .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#con3 .c_left h3 {
    color: var(--black-color);
    font-family: var(--kr-font);
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 1.1px;
    margin-bottom: 40px;
}

#con3 .c_left h3 i {
    font-weight: 600;
}

#con3 .c_right {
    width: 521px;
}

#con3 .c_left .c_txt {
    color: var(--main-bg-color);
    font-family: var(--kr-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}

#con3 .c_left .c_txt p {
    margin-bottom: 20px;
}

#con3 .c_right .first>li {
    display: flex;
    margin-bottom: 40px;
}

#con3 .c_right .first>li:last-child {
    margin-bottom: 0;
}

#con3 .c_right .first li {
    color: var(--main-bg-color);
    font-family: var(--kr-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

#con3 .c_right .first>li>p {
    color: var(--black-color);
    text-align: right;
    padding-right: 40px;
    width: 120px;
}


#con4 {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* background: #ccc; */
}

.big_tit {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_tit h2 {
    color: var(--sub1-bg-color);
    text-shadow: -0.5px 0px var(--black-color), 0px 0.5px var(--black-color), 0.5px 0px var(--black-color), 0px -0.5px var(--black-color);
    font-family: var(--en-h-font);
    font-size: 350px;
    font-weight: 600;
    line-height: 100%;
}

.big_tit p {
    color: var(--main-bg-color);
    font-family: var(--en-p-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.6px;
    z-index: 98;
}

.p3 {
    position: absolute;
    z-index: 10;
    bottom: -300px;
    right: -120px;
}